<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund Focus</title>
</head>
<body>
    <nav><h1><a href="/">Fund Focus</a></h1></nav>
    <section>
        <div>
            <h2>Sign in!</h2>
            <form action="">
                <label for="">email or username</label>
                <input type="text">
                <label for="">password</label>
                <input type="password">
                <button>sign in</button>
            </form>
        </div>
        <div>
            <h2>Sign up!</h2>
            <form action="">
                <label for="">email</label>
                <input type="text">
                <label for="">username</label>
                <input type="text">
                <label for="">password</label>
                <input type="password">
                <label for="">confirm password</label>
                <input type="password">
                <button>sign up</button>
            </form>
        </div>
    </section>
</body>
</html>