<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund Focus</title>
</head>
<body>
    <h1>This is a sign in page</h1>
    <nav><h1>Fund Focus</h1></nav>
    <section>
        <div>
            <form action="">
                <label for="">email or username</label>
                <input type="text">
                <label for="">password</label>
                <input type="password">
                <button>sign in</button>
            </form>
        </div>
    </section>
</body>
</html>